@import "tailwindcss";

/*TO ADD THE FADE OPTION*/
@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.animate-fade-in-out {
  animation: fadeInOut 100ms ease-in-out infinite;
}
